/*DEFAULTING*/

body {
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(138deg, rgb(7, 0, 36), rgb(14, 220, 203));
}

* {
    margin: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}


/* navigation bar----------------------------------------------- */

.container {
    height: 6vh;
    width: 100%;
    background-color: rgba(251, 251, 251, 0.861);
    border-bottom: 1px solid rgba(255, 255, 255, 0.767);
    box-shadow: 0 2px 5px rgb(44, 44, 44);
}

button {
    float: right;
    margin: 0 -0.1em;
    height: 2.5rem;
    background: none;
    border: none;
}

.nav-bar {
    margin: 3.3em -2.2em;
    float: right;
    padding-right: 1.6em;
}

.nav-bar ul {
    border-radius: 10px 0 10px 10px;
    background-color: rgba(45, 45, 45, 0.748);
    width: 10em;
}

ul li {
    color: aliceblue;
    border-radius: 10px 0 10px 10px;
    height: 3em;
    padding: 15px;
    display: block;
    transition: all 0.3s ease-in-out;
}

ul li:hover {
    background-color: rgb(234, 216, 194);
}

svg {
    height: 4em;
    width: 5em;
}

svg:hover {
    filter: drop-shadow(1px 1px 2px rgb(205, 171, 246));
}

.welcome {
    position: absolute;
    margin: 4em 0;
}